* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

html {
  scroll-behavior: smooth;
}

[class*="section"] {
    height: 100vh;
}

.up-section {
    background-color: red;
}

.mid-section {
    background-color: green;
}

.bottom-section {
    background-color: yellow;
}

.main-nav, .main-nav ul li {
    display: inline-block;
}

.main-nav li a {
    text-decoration: none;
    padding: 10px;
}

header {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 10;
}

.circle-button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: white;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    margin: 15px 30px;
}

section {
    position: relative;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    color: yellow;
    font-weight: bold;
}

.img-text.green {
    color: green;
}